#mainDIV
{
    display: table;
    background-color: mistyrose;
    width: 1070px;
    height: auto;
    margin-left: 100px;
    font-family: myFirstFont
}
.lists
{
    -moz-box-shadow: 0 0 12px 5px lightgray;
    -webkit-box-shadow: 0 0 12px 5px lightgray;
    width: 750px;
    font-family: myFirstFont
    height: 180px;
    list-style:none;
    background-color: whitesmoke;
    margin-top: 20px;
    text-align: right;
    display:inline-table;
}
#listSource
{
    display: inline-table;
    margin-top: 80px;
    margin-left: 120px;
    font-family: myFirstFont
}
.images
{
    width: 190px;
    display: table;
    margin-top: -180px;
    margin-left: 10px;
    height: 180px;
    cursor: pointer;
    transition: width 1s;
    -webkit-transition: width 1s; /* Safari */;
    -moz-transition-prpperty: width;
    -moz-transition-duration: 1s;
}
.hidden
{
    width: 190px;
    height: 180px;
    opacity: 0;
    top: 0;
    right: 0;
    cursor: pointer;
    -moz-opacity: 0;
    font-family: myFirstFont
}

.divdiv{
    width: 200px;
    height: 180px;
    overflow: hidden;
    float: right;
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition-prpperty: width;
    -moz-transition-duration: 1s;
    font-family: myFirstFont
}
.editdelete{
    background-color: deeppink;
    height: 180px;
    width: 0px;
    margin-top: -150px;
    overflow: hidden;
    float: left;
    transition : width 1s;
    -webkit-transition: width 1s;
    font-family: myFirstFont
}
.cube {
    width: 70%;
    text-align: center;
    margin-left: 190px;
    height: 180px;
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s; /* Animate the transform properties */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; /* <-NB */
    font-family: myFirstFont
}

/* The two faces of the cube */
.flippety,.flop {
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, .8);

    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
    box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
    height: 180px;
    font-family: myFirstFont
}

/* Position the faces */
.flippety {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-perspective: 100px;-moz-perspective: 100px;-ms-perspective: 100px;perspective: 100px;
    font-family: myFirstFont
}

.flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
    -webkit-perspective: 100px;-moz-perspective: 100px;-ms-perspective: 100px;perspective: 100px;
    font-family: myFirstFont
}

.neda
{
width: 550px;
height: 150px;
    display: table;
    float: left;
    transition : margin-left 1s;
    -webkit-transition:margin-left 1s;
    font-family: myFirstFont
}
.namediv
{
    font-size: 2.2em;
    font-family: myFirstFont;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    font-family: myFirstFont
}
.numberdiv{
    font-size:  3em;
    display: table;
    float: left;
    margin-top: 70px;
    margin-left: 40px;
    font-family:myFirstFont;
}
.editBTN{
    background-color: whitesmoke ;
    height: 70px; width: 160px;
    display: table;
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    border: aliceblue;
    border-radius: 8px;
    font-family: myFirstFont;
    font-size: larger;
}
.deleteBTN{
    background-color: deeppink ;
    height: 70px;
    width: 160px;
    display: table;
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    border: aliceblue;
    border-radius: 8px;
    font-family: myFirstFont;
    font-size: larger;
}
#name{
    display:list-item;
    border: none;
    background-color: lavender;
    width: 590px;
    height: 50px;
    margin-top: -40px;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    font-family: myFirstFont
}
#number{
    display:list-item;
    border: none;
    background-color: lavender;
    width: 540px;
    height: 50px;
    margin-top: -40px;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    font-family: myFirstFont
}
#firstDIV{
    display: inline-table;
    margin-top: 10px;
    margin-right: 10px;
    font-family: myFirstFont;
    font-size: x-large;
    color: #aaa;
}
#secondDIV{
    display: inline-table;
    margin-top: 10px;
    margin-right: 10px;
    font-family: myFirstFont;
    font-size: x-large;
    color: #aaa;
    width: 60%;
    margin-left: -100px;
}
#firstList{
    width: 100%;
    height: 50px;
    background-color: lavender;
    display: inline-table;
    margin-top: -5px;
    text-align: right;
    margin-left: -40px;
    font-family: myFirstFont
}
#secondList{
    width: 100%;
    height: 50px;
    background-color: lavender;
    display: inline-table;
    margin-top: 5px;
    text-align: right;
    margin-left: -40px;
    font-family: myFirstFont
}
#AddBTN{
    display: table;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    background-color: lightsteelblue;
    font-family: myFirstFont;
    font-size: larger;
    margin-top: -13px;
    border-style: solid;
}